@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome humans!</h1>
    <h1 class="display-4">I'm a Web Application is here to help you find discoounts in Amazon!</h1>
    
    <p><a href="https://www.amazon.com/Phoenix-Project-DevOps-Helping-Business-ebook/dp/B078Y98RG8?crid=2JZ3ISBS3XIAU&keywords=The+phoenix+project&qid=1668864556&sprefix=the+phoenix+projec%2Caps%2C155&sr=8-1&ufe=app_do%3Aamzn1.fos.08f69ac3-fd3d-4b88-bca2-8997e41410bb&linkCode=li2&tag=mcnetinc-20&linkId=de3948d04a41d348b8bed1df17208a06&language=en_US&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B078Y98RG8&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=mcnetinc-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=mcnetinc-20&language=en_US&l=li2&o=1&a=B078Y98RG8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
